<div>
    {{#each productsList}}
            <div>
                <p>{{this.id}}</p>
                <p>{{this.title}}</p>
                <p>{{this.price}}</p>
            </div>
        {{/each}}
</div>